<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-25 fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YTS Show</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
          <li class="nav-item">
            <a *ngIf="isLogin" class="nav-link active" aria-current="page" routerLinkActive="test" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin"  class="nav-link active" aria-current="page" routerLinkActive="test"  routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin"  class="nav-link active" aria-current="page" routerLinkActive="test"  routerLink="gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin"  class="nav-link active" aria-current="page" routerLinkActive="test"  routerLink="movies">Movies</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin"  class="nav-link active" aria-current="page" routerLinkActive="test"  routerLink="contacts">Contacts</a>
          </li>
        </ul>

        <div class="  d-flex me-5 pe-5  " >
          <a *ngIf="!isLogin" class="nav-link active" aria-current="page" routerLinkActive="test"  routerLink="login">Login</a>
          <a *ngIf="!isLogin" class="nav-link active" aria-current="page" routerLinkActive="test"  routerLink="register">Register</a>
          <a *ngIf="isLogin" (click)="callLogOut();" class="nav-link active" aria-current="page" routerLinkActive="test" routerLink="#" >LogOut</a>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/settings" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              settings
            </a>
            <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/settings/log">log</a></li>
              <li><a class="dropdown-item" routerLink="/settings/password">password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </nav>
