/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body{
    background-color: #131722;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif !important;
}


.bg-lights {
    background-color: #24baef !important
}

.bord{
    width: 1px;
    height: 1px;
    background-color: gray ;
    
}

.nav-link{
    color: white!important;
}