<h2  class="w-50 m-auto mt-5 pt-5  ">Register now</h2>

<div *ngIf="error" class="alert alert-danger">

    <h4>{{error}}</h4>
</div>
  

<form action="" (ngSubmit)="submit(registerForm)"  [formGroup]="registerForm " class="w-50 m-auto my-3  ">

    <label for="first_name">First Name</label>
    <input type="text" formControlName='first_name' class="form-control" id="first_name">

    <div *ngIf="registerForm.get('first_name')?.errors !== null  && registerForm.get('first_name')?.touched "
    class="alert alert-danger">
             <p *ngIf="registerForm.get('first_name')?.errors?.['required']" class="mb-0">first_name is required</p>
             
             <p *ngIf="registerForm.get('first_name')?.errors?.['minlength']"  class="mb-0">first_name minLength is 3</p>
             <p *ngIf="registerForm.get('first_name')?.errors?.['maxlength']"  class="mb-0" >first_name maxlength is 8 </p>
    </div>

    <label for="last_name">Last Name</label>
    <input type="text" formControlName='last_name' class="form-control" id="last_name">
    <div *ngIf="registerForm.get('last_name')?.errors  && registerForm.get('last_name')?.touched " class="alert alert-danger">
        <p *ngIf="registerForm.get('last_name')?.errors?.['required']" class="mb-0">last_name is required</p>
             
        <p *ngIf="registerForm.get('last_name')?.errors?.['minlength']"  class="mb-0">last_name minLength is 3</p>
        <p *ngIf="registerForm.get('last_name')?.errors?.['maxlength']"  class="mb-0" >last_name maxlength is 8 </p>
    </div>

    <label for="age"  >Age</label>
    <input type="number" formControlName='age' class="form-control" id="age" >
    <div *ngIf="registerForm.get('age')?.errors  && registerForm.get('age')?.touched " class="alert alert-danger my-2">
        <p *ngIf="registerForm.get('age')?.errors?.['required']" class="mb-0">age is required</p>
             
        <p *ngIf="registerForm.get('age')?.errors?.['min']"  class="mb-0">age min is 16</p>
        <p *ngIf="registerForm.get('age')?.errors?.['max']"  class="mb-0" >age max is 80 </p>
    </div>

    <label for="email"> Email</label>
    <input type="email" formControlName='email' class="form-control" id="email">
    <div *ngIf="registerForm.get('email')?.errors  && registerForm.get('email')?.touched " class="alert alert-danger my-2">
        <p *ngIf="registerForm.get('email')?.errors?.['required']" class="mb-0">email is required</p>
        <p *ngIf="registerForm.get('email')?.errors?.['email']" class="mb-0">email invalid</p>
    </div>


    <label for="password" >Password</label>
    <input type="password" formControlName='password' class="form-control" id="password" >
        <div *ngIf="registerForm.get('password')?.errors  && registerForm.get('password')?.touched " class="alert alert-danger my-2" >
           <p *ngIf="registerForm.get('password')?.errors?.['required']"  class="mb-0">password is required</p>
           <p *ngIf="registerForm.get('password')?.errors?.['pattern']"  class="mb-0">password must start upper case..</p>
        </div>

    <button [disabled]="registerForm.invalid"  type="submit" class="btn btn-info mt-4" >Register</button>

</form>

